			<footer class="site-footer clearfix">
		        <section class="copyright"><a href="{{_blog.url}}">{{_blog.title}}</a> &copy; {{date }}</section>
		        <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
		    </footer>
	    </div>

		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js}"></script>
		<script type="text/javascript" src="assets/main.js"></script>

	</body>
</html>