head
  title= title ? title + " | " + site.title : site.title
  link(rel='stylesheet', href='/css/style.css')
  link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/default.min.css')